* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    background:#32a87f;
}

article {
    text-align:center;
    padding: 1rem;
}

h1{
    padding:1.5rem;
}

.fullsize {
    display: block;
    color: #ebca4b;
}

.mediumsize{
    display: none;
    color: #851c81;
}

.smallsize{
    display: none;
    color: #801a06;
}

figure {
    width: 24%;
    display: inline-block;
}

img {
    width: 100%;
}

@media only screen and (max-width:968px) {
    figure {
        width: 49%;
    }

    main{
        background: #279eb0;
    }

    .fullsize {
        display: none;
    }

    .mediumsize{
        display: block;
    }
}

@media only screen and (max-width:768px) {
    figure {
        width: 100%;
    }

    main{
        background: #4863e8;
    }

    .mediumsize{
        display: none;
    }

    .smallsize{
        display: block;
    }
}


/* Érdekességként, mit lehet még elérni a media query-k használatával? */

/* @media print and (min-width:300px) {
    img {
        border: 10px solid red;
    }
} */